project/flows.json
[
    {
        "id": "4c18ea44.b3e714",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "ed19a0ad.12e66",
        "type": "inject",
        "z": "4c18ea44.b3e714",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 240,
        "y": 134,
        "wires": [
            [
                "761262e0.89ed9c"
            ]
        ]
    },
    {
        "id": "2f4414a1.d0bbec",
        "type": "udp out",
        "z": "4c18ea44.b3e714",
        "name": "",
        "addr": "localhost",
        "iface": "",
        "port": "5000",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 826,
        "y": 134,
        "wires": []
    },
    {
        "id": "761262e0.89ed9c",
        "type": "syslog-node",
        "z": "4c18ea44.b3e714",
        "name": "",
        "level": "0",
        "category": "1",
        "process": "Node-RED",
        "pid": "0",
        "hostname_mode": "automatic",
        "hostname": "",
        "x": 470,
        "y": 134,
        "wires": [
            [
                "2f4414a1.d0bbec"
            ]
        ]
    },
    {
        "id": "4ab5cb14.895744",
        "type": "syslog-node",
        "z": "4c18ea44.b3e714",
        "name": "",
        "level": "6",
        "category": "1",
        "process": "Node-RED",
        "pid": "0",
        "hostname_mode": "automatic",
        "hostname": "",
        "x": 729.5,
        "y": 336,
        "wires": [
            [
                "4469b9f6.cded18"
            ]
        ]
    },
    {
        "id": "4469b9f6.cded18",
        "type": "debug",
        "z": "4c18ea44.b3e714",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "true",
        "x": 900,
        "y": 335,
        "wires": []
    },
    {
        "id": "fec689cc.722ba8",
        "type": "udp in",
        "z": "4c18ea44.b3e714",
        "name": "",
        "iface": "",
        "port": "5000",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 207.5,
        "y": 283,
        "wires": [
            [
                "4ab5cb14.895744"
            ]
        ]
    }
]