project/flows.json
[
    {
        "id": "4c18ea44.b3e714",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "ed19a0ad.12e66",
        "type": "inject",
        "z": "4c18ea44.b3e714",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 540,
        "y": 140,
        "wires": [
            [
                "761262e0.89ed9c"
            ]
        ]
    },
    {
        "id": "8712a63e.78ed58",
        "type": "debug",
        "z": "4c18ea44.b3e714",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "2f4414a1.d0bbec",
        "type": "udp out",
        "z": "4c18ea44.b3e714",
        "name": "",
        "addr": "2.0.0.2",
        "iface": "",
        "port": "514",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "761262e0.89ed9c",
        "type": "syslog-node",
        "z": "4c18ea44.b3e714",
        "name": "",
        "level": "6",
        "category": "1",
        "process": "Node-RED",
        "pid": "0",
        "hostname_mode": "automatic",
        "hostname": "",
        "x": 780,
        "y": 240,
        "wires": [
            [
                "8712a63e.78ed58"
            ]
        ]
    }
]