examples/syslog.json
[
    {
        "id": "ed19a0ad.12e66",
        "type": "inject",
        "z": "4c18ea44.b3e714",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 480,
        "y": 140,
        "wires": [
            [
                "761262e0.89ed9c"
            ]
        ]
    },
    {
        "id": "2f4414a1.d0bbec",
        "type": "udp out",
        "z": "4c18ea44.b3e714",
        "name": "",
        "addr": "localhost",
        "iface": "",
        "port": "514",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "761262e0.89ed9c",
        "type": "syslog-node",
        "z": "4c18ea44.b3e714",
        "name": "",
        "level": "6",
        "category": "1",
        "process": "Node-RED",
        "pid": "0",
        "hostname_mode": "automatic",
        "hostname": "",
        "x": 710,
        "y": 140,
        "wires": [
            [
                "2f4414a1.d0bbec",
                "9c710c7d.638ef"
            ]
        ]
    },
    {
        "id": "9c710c7d.638ef",
        "type": "debug",
        "z": "4c18ea44.b3e714",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 910,
        "y": 240,
        "wires": []
    }
]
